venv/
env/

# python
__pycache__/
*.py[cod]
*.so
*.pyc

# flask
instance/
*.db

# env
.env
.flaskenv

# vscode files
.vscode/
.idea/
*.swp

# OS
.DS_Store.env
venv/
*.pyc
__pycache__/
node_modules/
package.json
package-lock.json
tailwind.config.js
